@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

body {
  background-color: #1a1a1a;
  color: #a6a6a6;
  font-family: "Helvetica Neue", sans-serif;
}

.title {
  position: relative;
  color: #303030;
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #d9d9d9;
  font-size: 30px;
  line-height: 2;
  letter-spacing: 0.02em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: blur(12px);
  padding-block: 33px;
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__menu {
  display: flex;
  gap: 45px;
}
.header__link_active {
  color: #34c759;
}

.hero {
  background: url("../images/hero/foto.webp") center/cover no-repeat;
  padding-top: 170px;
  min-height: 100vh;
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__title {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.19;
  text-align: center;
  text-transform: capitalize;
}
.hero__title span {
  font-weight: 200;
}
.hero__text {
  margin: 0 auto 40px;
  max-width: 596px;
}
.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  border-radius: 43px;
  background-color: #34c759;
  padding: 25px 57px;
  color: black;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.about__container {
  padding-block: 90px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  background: rgb(37, 37, 37);
}
.about__title {
  margin-bottom: 30px;
  text-align: center;
}
.about__text {
  text-align: center;
  margin: 0 auto 90px;
  max-width: 734px;
}
.about__wrapper {
  position: relative;
  max-width: 981px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
.about__slider {
  max-width: 734px;
  margin: 0 auto;
}
.about__nav {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #303030;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  transition: all 0.3s;
  cursor: pointer;
}
.about__nav:hover {
  border-color: #34c759;
}
.about__prev {
  left: 0;
}
.about__next {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.contacts__item {
  width: 100%;
  max-width: 245px;
  text-align: center;
}
.contacts__title {
  margin-top: 16px;
  color: #fff;
  line-height: 30px;
}
.contacts__desc {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */