@forward "./reset";
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

$bg: #1a1a1a;
$green: #34c759;
$text: #a6a6a6;

body {
  background-color: $bg;
  color: $text;
  font-family: "Helvetica Neue", sans-serif;
}

.title {
  position: relative;
  color: #303030;
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #d9d9d9;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0.02em;
  }
}

// -------------

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: blur(12px);
  padding-block: 33px;
  width: 100%;

  &__container {
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
  }

  &__menu {
    display: flex;
    gap: 45px;
  }

  &__item {
  }

  &__link {
    &_active {
      color: #34c759;
    }
  }
}

.hero {
  background: url("../images/hero/foto.webp") center / cover no-repeat;
  padding-top: 170px;
  min-height: 100vh;

  &__container {
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
    color: #fff;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.19;
    text-align: center;
    text-transform: capitalize;

    span {
      font-weight: 200;
    }
  }

  &__text {
    margin: 0 auto 40px;
    max-width: 596px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    border-radius: 43px;
    background-color: #34c759;
    padding: 25px 57px;
    color: black;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
}

// About
.about {
  &__container {
    padding-block: 90px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgba(37, 37, 37, 1);
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    margin: 0 auto 90px;
    max-width: 734px;
    text-align: center;
  }

  &__slider {
    max-width: 734px;
    margin: 0 auto;
  }

  &__slide {
  }

  &__nav {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #303030;
  }
}

.swiper {
}

.swiper-wrapper {
}

.swiper-slide {
}

.swiper-button-prev {
}

.swiper-button-next {
}

//

.contacts {
  display: flex;
  justify-content: center;
  gap: 90px;

  &__item {
    width: 100%;
    max-width: 245px;
    text-align: center;
  }

  &__title {
    margin-top: 16px;
    color: #fff;
    line-height: 30px;
  }

  &__desc {
    font-size: 14px;
  }
}
