@forward "./reset";
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

$bg: #1a1a1a;
$green: #34c759;
$text: #a6a6a6;

body {
  font-family: "Helvetica Neue", sans-serif;
  color: $text;
  background-color: $bg;
}

// -------------

.header {
  padding-block: 33px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blur(12px);

  &__container {
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
  }

  &__menu {
    display: flex;
    gap: 45px;
  }

  &__item {
  }

  &__link {
    &_active {
      color: #34c759;
    }
  }
}

.hero {
  padding-top: 170px;
  min-height: 100vh;
  background: url("../images/hero/foto.webp") center / cover no-repeat;

  &__container {
  }

  &__top {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    color: #fff;
    font-size: 72px;
    line-height: 1.19;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;

    span {
      font-weight: 200;
    }
  }

  &__text {
    max-width: 596px;
    margin: 0 auto 40px;
  }

  &__link {
    margin-bottom: 70px;
    background-color: #34c759;
    border-radius: 43px;
    padding: 25px 57px;
    color: black;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contacts {
  display: flex;
  gap: 90px;
  justify-content: center;

  &__item {
    text-align: center;
    max-width: 245px;
    width: 100%;
  }

  &__title {
    margin-top: 16px;
    line-height: 30px;
    color: #fff;
  }

  &__desc {
    font-size: 14px;
  }
}
